<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Meme Generator</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    <header class="header">
      <h2 class="header-title">MEME GENERATOR</h2>
      <hr />
    </header>
    <div class="content">{% block content %}{% endblock %}</div>
    <!-- <div id="footer">
      {% block footer %} &copy; Copyright 2010 by
      <a href="http://domain.invalid/">you</a>. {% endblock %}
    </div> -->
  </body>
</html>
