{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<h2>Welcome to the meme generator!</h2>
<p>Please enter a keyword to search for Flickr images:</p>
<form action="{{ url_for('picture') }}" method="get">
  <label for="keyword">Keyword: </label>
  <input
    class="hover-effect input-text"
    type="text"
    id="keyword"
    name="keyword"
    required
  />
  <input type="hidden" name="page" value="1" />
  <input class="submit-button" type="submit" value="Submit" />
</form>
{% endblock %}
