{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/picture.css') }}"
/>
{% endblock %} {% block content %}
<p>Please choose an image for the meme:</p>
<form
  action="{{ url_for('text') }}"
  method="get"
  onSubmit="return checkInput()"
>
  <div class="image-container">
    {% for photo in photos %}
    <img
      tabindex="0"
      alt="{{keyword}} picture"
      id="{{photo['id']}}"
      src="{{photo['url_q']}}"
      onClick="updatePhotoID(this.id)"
    />
    {% endfor %}
  </div>
  <br />
  <input id="photoID" type="hidden" name="photoID" value="none" />
  <input type="hidden" name="keyword" value="{{keyword}}" />
  <input tabindex="0" class="submit-button" type="submit" value="Submit" />
</form>
<div class="arrow-container">
  <img
    tabindex="0"
    id="arrow-left"
    class="arrow"
    src="static/arrow-left.png"
    onClick="movePage('back')"
  />
  <img
    tabindex="0"
    id="arrow-right"
    class="arrow"
    src="static/arrow-right.png"
    onClick="movePage('forward')"
  />
</div>
<a tabindex="0" href="{{ url_for('index') }}">Return to Main Page</a>

<script src="{{url_for('static', filename='script/picture.js')}}"></script>
<script>
  // Changes to new page when left/right buttons are clicked
  function movePage(direction) {
    var newPage = 1;
    if (direction === "back") {
      newPage = parseInt("{{page}}") - 1;
    } else if (direction === "forward") {
      newPage = parseInt("{{page}}") + 1;
    }

    let path = "./picture?keyword={{keyword}}&page=".concat(newPage);
    window.location.href = path;
  }

  // Disable arrow buttons if page is 1 or 100
  window.addEventListener("load", function() {
    if ("{{page}}" === "1") {
      var leftArrow = document.getElementById("arrow-left");
      leftArrow.classList.add("arrow-disabled");
    } else if ("{{page}}" === "100") {
      var rightArrow = document.getElementById("arrow-right");
      rightArrow.classList.add("arrow-disabled");
    }
  });
</script>

{% endblock %}
