{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/text.css') }}"
/>{% endblock %} {% block content %}
<p>Chosen Image:</p>
<img src="{{path}}" />
<p>Please add text for the meme</p>
<form action="{{ url_for('result') }}" method="get">
  <!-- Input for meme text -->
  <div class="input-container">
    <label for="text">Text: </label>
    <input
      class="input-text hover-effect"
      type="text"
      id="text"
      name="text"
      maxlength="{{limit}}"
      required
    />
  </div>
  <!-- Input for choosing meme text color and position -->
  <div class="input-container">
    <label for="color">Text Color:</label>
    <select class="input-text" id="color" name="color">
      <option value="white">White</option>
      <option value="black">Black</option>
    </select>
  </div>
  <div class="input-container">
    <label for="position">Text Position:</label>
    <select class="input-text" id="position" name="position">
      <option value="top">Top</option>
      <option value="middle">Middle</option>
      <option value="bottom">Bottom</option>
    </select>
  </div>
  <br />

  <!-- Hidden data -->
  <input type="hidden" name="photoID" value="{{photoID}}" />
  <input type="hidden" name="timeStamp" value="{{timeStamp}}" />
  <!-- Submit button -->
  <input class="submit-button" type="submit" value="Submit" />
</form>
<a href="./picture?keyword={{keyword}}">Change Image</a><br />
<a href="{{ url_for('index') }}">Return to Main Page</a>
{% endblock %}
